<footer class = 'footer'>
  <div class = 'footer_inner'>
    <p class = 'mute'><a href = '{{ .Site.Data.designer.url }}' target = '_blank' title = 'Web Site' rel = 'nonopener'> Hayrat Vakfı </a>Tarafından Hazırlanmıştır. |
      <a href = 'http://tarihceihayat.com/' target = '_blank' title = 'Web Site' rel = 'nonopener'> tarihceihayat.com </a></p>
  </div>
</footer>
<!--<script src = 'https://code.jquery.com/jquery-3.1.0.min.js'   integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s='   crossorigin='anonymous'></script>-->
<script src = '{{ .Site.BaseURL }}js/index.js'></script>
